<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">E-Commerce</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" *ngIf="role === 'CLIENT'">
              <span class="badge badge-pill badge-primary" style="float:right;margin-bottom:-10px;">{{cartCount}}</span> <!-- your badge -->
              <a class="nav-link" href="cart">Carrinho <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
              <a class="nav-link" href="login">Login </a>
            </li>
            <li class="nav-item" *ngIf="role === 'ADMINISTRATOR'">
                <a class="nav-link" href="/administration">Administration</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" (click)="logout()" href="/">Logout ({{role}}) </a>
            </li>
      </ul>
      <form class="form-inline my-1 my-lg-0">
          <input class="form-control mr-sm-1" [(ngModel)]="term" name="term" type="search" placeholder="Search (Name or Category)" aria-label="Search">
          <button (click)="search()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>