<td>
  <figure class="media">
    <div class="img-wrap">
      <img src="{{product.photo}}" class="img-thumbnail img-sm" />
    </div>
    <figcaption class="media-body">
      <h6 class="title text-truncate">{{product.name}}</h6>
      {{product.shortDescription}}<br />
      {{product.description}}
    </figcaption>
  </figure>
</td>
<td>
  <div class="price-wrap">
    <var class="price">R$ {{product.value}}</var>
  </div>
</td>
<td class="text-right">
  <a href="product/{{product.id}}/edit" class="btn btn-outline-success" data-toggle="tooltip">Update</a>
  <button (click)="deleteAction()" class="btn btn-outline-danger btn-round"> × Remove</button>
</td>