<td>
  <figure class="media">
    <div class="img-wrap"><img src="{{item.product.photo}}" class="img-thumbnail img-sm"></div>
    <figcaption class="media-body">
      <h6 class="title text-truncate">{{item.product.name}}</h6>
      <dl class="dlist-inline small">
        <dt>Quantidade: </dt>
        <dd>{{item.amount}}</dd>
      </dl>
    </figcaption>
  </figure>
</td>
<td>
  <div class="price-wrap">
    <var class="price">{{item.product.value}}</var>
  </div> <!-- price-wrap .// -->
</td>
<td class="text-right">
  <button (click)="deleteAction(item.product)" class="btn btn-outline-danger btn-round"> × Remove</button>
</td>