<div>
    <a href="/{{order.id}}"><p>{{order.name}}</p></a>
    <p>{{order.value}}</p>
    <p>{{order.photo}}</p>
  </div>



  <td>
      <figure class="media">
        <div class="img-wrap"><img src="images/items/3.jpg" class="img-thumbnail img-sm"></div>
        <figcaption class="media-body">
          <h6 class="title text-truncate">Product name goes here </h6>
          <dl class="dlist-inline small">
            <dt>Size: </dt>
            <dd>XXL</dd>
          </dl>
          <dl class="dlist-inline small">
            <dt>Color: </dt>
            <dd>Orange color</dd>
          </dl>
        </figcaption>
      </figure>
    </td>
    <td>
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </td>
    <td>
      <div class="price-wrap">
          <p>{{product.name}}</p>
          <p>{{product.value}}</p>
          <p>{{product.photo}}</p>
        <var class="price">USD 45</var>
        <small class="text-muted">(USD15 each)</small>
      </div> <!-- price-wrap .// -->
    </td>
    <td class="text-right">
      <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> 
        <i class="fa fa-heart"></i></a>
      <a href="" (click)="deleteAction()" class="btn btn-outline-danger btn-round"> × Remove</a>
    </td>