<div class="container">
  <div class="alert alert-danger error-alert" *ngIf="emptyCart || itensCount == 0" role="alert">
    O carrinho está vazio! 
  </div>
  <div class="row" *ngIf="!emptyCart || itensCount > 0">
    <app-cart-table [itens]="itens"></app-cart-table>
  </div>
  <div class="row" *ngIf="!emptyCart || itensCount > 0">
    <div class="box bx" >
      <dl class="dlist-align">
            <dt>Total itens: </dt>
            <dd class="text-right">{{itensCount}}</dd>
        </dl>
      <dl class="dlist-align">
        <dt>Total cost: </dt>
        <dd class="text-right h5 b">R$ {{itensPrice}}</dd>
      </dl>
      <dl class="dlist-align">
        <button *ngIf="isLogged" (click)="confirmOrder()" type="submit" class="btn btn-primary btn-block">Confirm Order</button>
        <div *ngIf="!isLogged">
            <dt>Please login to confirm your order, you won't lose your cart itens!</dt>
          <a (click)="confirmOrder()" type="submit" class="btn btn-primary btn-block">Login</a>
        </div>
      </dl>
    </div>
  </div>
</div>