<div class="alert alert-danger error-alert" role="alert" *ngIf="orders.length == 0">
  No orders registred yet....
</div>
<div class="card" *ngIf="orders.length > 0">
  <table class="table table-hover shopping-cart-wrap">
    <thead class="text-muted">
      <tr>
        <th scope="col">Product</th>
        <th scope="col" width="120">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>
          <figure class="media">
            <div class="img-wrap"><img src="{{order.product.photo}}" class="img-thumbnail img-sm"></div>
            <figcaption class="media-body">
              <h6 class="title text-truncate">{{order.product.name}}</h6>
              <dl class="dlist-inline small">
                <dt>Quantidade: </dt>
                <dd>{{order.amount}}</dd>
              </dl>
            </figcaption>
          </figure>
        </td>
        <td>
          <div class="price-wrap">
            <var class="price">{{order.product.value * order.amount}}</var>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>