
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.form-singin{
    width: 300px;
}

.alert{
    display: none;
}