
<div *ngFor="let product of products">
  <app-product-item-line [product]="product"></app-product-item-line>
</div>



<div class="container">
    <div class="card">
      <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
          <tr>
            <th scope="col">Product</th>
            <th scope="col" width="120">Amount</th>
            <th scope="col" width="120">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <app-order-item-component [order]="order"></app-order-item-component>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
